{% extends 'base.html' %}
{% block content %}

<div style="max-width:700px;margin:40px auto;padding:20px;font-family:Arial;color:white;">

    {% if article.image %}
        <img src="{{ article.image.url }}" style="width:100%;border-radius:12px;margin-bottom:20px;">
    {% endif %}

    <h2>{{ article.title }}</h2>

    <span style="color:#888;font-size:13px;">{{ article.published_at|date:"Y-m-d H:i" }}</span>

    <p style="margin-top:20px;line-height:1.8;">{{ article.content|linebreaks }}</p>

    <a href="{% url 'news_list' %}" style="color:#00ff88;">← رجوع لكل الأخبار</a>

</div>

{% endblock %}
