{% extends 'base.html' %}
{% load static %}

{% block title %}سياسة الخصوصية - منصة الرياضة{% endblock %}

{% block content %}
<div class="policy-page-container" style=" background-color:black; color: #fff; padding: 30px; max-width: 800px; margin: auto;">
    <h1 style="color: #00ffcc; margin-bottom: 20px;">سياسة الخصوصية</h1>
    <p>نحن في موقعنا نعتبر خصوصية زوارنا أولوية قصوى. توضح وثيقة سياسة الخصوصية هذه أنواع المعلومات الشخصية التي يتم جمعها وكيفية استخدامها.</p>
    
    <h3 style="color: #fff; margin-top: 20px;">ملفات تعريف الارتباط (Cookies)</h3>
    <p>نستخدم ملفات تعريف الارتباط لتخزين المعلومات حول تفضيلات الزوار، ولتخصيص محتوى صفحة الويب بناءً على نوع متصفح الزوار أو معلومات أخرى يرسلها الزائر عبر متصفحه.</p>
    
    <h3 style="color: #fff; margin-top: 20px;">إعلانات Google AdSense</h3>
    <p>شركاؤنا الإعلانيون مثل Google قد يستخدمون ملفات تعريف الارتباط لتحديد وإرسال الإعلانات استناداً إلى زيارات المستخدم لموقعنا أو مواقع أخرى على الإنترنت.</p>
</div>
{% endblock %}