<!DOCTYPE html>
<html lang="ar">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/png" href="{% static 'image/android-chrome-512x512.png' %}">

    <title>{% block title %}Eurfot{% endblock %}</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBKX3D6WVR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VBKX3D6WVR');
    </script>

    {% block extra_head %}{% endblock %}
</head>

<body>

    {% block content %}
    {% endblock content %}

</body>



<footer style="text-align: center; padding: 20px; color: #aaa; border-top: 1px solid #333; margin-top: 1000px;">
    <p>&copy; 2026 جميع الحقوق محفوظة لمنصة Eurfot</p>
    <div style="margin-top: 10px;">
        <a href="{% url 'privacy_policy' %}" style="color: #00ffcc; margin: 0 15px; text-decoration: none;">سياسة الخصوصية</a>
        <a href="{% url 'about_us' %}" style="color: #00ffcc; margin: 0 15px; text-decoration: none;">من نحن</a>
        <a href="{% url 'contact_us' %}" style="color: #00ffcc; margin: 0 15px; text-decoration: none;">اتصل بنا</a>
    </div>
</footer>
</html>